site_name: BLIKVM 用户手册
docs_dir: '../../docs/zh'
site_dir: '../../generated/zh'
site_description: Open and cost-effective "KVM over IP". BliKVM comes in 3 different models, BliKVM PCIe, BliKVM HAT and BliKVM CM4, all based on Raspberry Pi.
site_author: Thomas Von
theme:
  name: material
  custom_dir: '../../overrides/'
  logo: assets/images/logo.png
  icon:
    admonition:
      note: octicons/tag-16
      abstract: octicons/checklist-16
      info: octicons/info-16
      tip: octicons/squirrel-16
      success: octicons/check-16
      question: octicons/question-16
      warning: octicons/alert-16
      failure: octicons/x-circle-16
      danger: octicons/zap-16
      bug: octicons/bug-16
      example: octicons/beaker-16
      quote: octicons/quote-16
  features:
    - content.code.annotate
    - navigation.indexes
    - navigation.sections
    - navigation.top
    - navigation.tracking
    - navigation.expand
    - search.highlight
    - search.share
    - search.suggest

extra:
  homepage: https://www.blicube.com
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/ThomasVon2021/blikvm-site
      name: 加入到翻译工作中
  alternate:
    - name: English
      link: /blikvm/en/
      lang: en
    - name: 中文
      link: /blikvm/zh/
      lang: zh
    - name: 日本語
      link: /blikvm/ja/
      lang: ja
    - name: Русский
      link: /blikvm/ru/
      lang: ru
repo_name: blikvm-site
repo_url: https://github.com/ThomasVon2021/blikvm-site
edit_uri: edit/master/docs/zh/
markdown_extensions:
  - attr_list
  - md_in_html
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences

nav:
    - "快速开始":
      - "BliKVM介绍": index.md
      - "BliKVM v4 Allwinner导览": BliKVM-v4-guide.md
      - "BliKVM v3 HAT导览": BLIKVM-HAT-guide.md
      - "BliKVM v2 PCIe导览": BLIKVM-PCIE-guide-zh.md
      - "BliKVM v1 CM4导览": BLIKVM-CM4-guide.md
      - "第一步": first_steps.md
      - "常见问题解答": faq.md
    - "网络":
        - "端口转发": port-forwarding.md
        - "Tailscale VPN": tailscale.md
        - "Zerotier VPN": zerotier.md
        - "设置静态IP": static_ip.md
        - "Wifi配置": wifi.md
        - "加密证书": https.md
    - "功能说明":
        - "更新软件": update.md
        - "视频&键鼠": hid.md
        - "RTC时钟": rtc.md
        - "烧录镜像": flashing_os.md
        - "OLED显示器": OLED-display.md
        - "存储卡扩容": Expand_Filesystem.md
        - "U盘驱动": msd.md
        - "串口终端": serial_over_usb.md
        - "HDMI EDID设置": edid.md
        - "修改账号密码": user-manager.md
        - "Wake-on-LAN": wake-on-lan.md
    - "安装说明":
        - "v3 HAT安装说明": BLIHAT-Installation.md
        - "v2 PCIe安装说明": BLIKVM-PCIe-installation-zh.md
    - "配件手册":
        - "ATX用户手册": atx-guide.md
        - "HDMI转CSI & Audio模块用户手册": hdmi-csi-i2s.md
        - "USB一分二用户手册": usb-splitter-guide.md
        - "switch切换器手册": switch-guide.md
    - "开发者":
        - "制作镜像": make-image.md
        - "配置PiKVM OS": modify_pikvm_image.md
        - "http API": dev_api.md
plugins:
  - glightbox
  - git-revision-date-localized:
      enable_creation_date: true
  - search:
      lang: 
        - en
        - ja
        - ru
        - zh
  - pdf-export:
      verbose: true
      media_type: print
      enabled_if_env: DISABLE_PDF_EXPORT

